 *{
     font-family: 'Courier New', Courier, monospace;
 }
 .topnav{
     background-color: aqua;
     overflow:hidden;
 }
 .topnav a{
     float: left;
     color:white;
     padding:14px 16px;
     text-decoration: none;
     text-align: center;
     font-size: 17px;
 }
 .topnav a.active,a:hover{
     background-color:white;
     color:aqua;
    

 }
 .links{
     float: right;
     color: black;
      
 }
  